.icon-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;

}

.icon-row__icon span{
    text-align: center;
}


.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row__icon i {
    font-size:35px;
}

.icon-row__span {
    margin-top:35px;
}

